body {
  border-top: 0ch;
  box-sizing: border-box;
  background-color: white;
  font-size: 30px;
}
.container {
  padding-left: 50px;
  margin-top: 0ch;
}

.jumbotron {
padding-top: 0;
padding-bottom: 5px;
margin-bottom: 0;
}

span {
  color: red;
} 

.carousel-control-next,
.carousel-control-prev { /*carousel-indicators */ 
    filter: invert(100%);
}

#map {
  max-width: 720px;
}






