#heart {
    color: red;
}

#Random {
    font-family: 'Nunito', sans-serif;
}

#connectingCommunity {
    font-family: 'Nunito', sans-serif;
}

#quote {
    font-family: 'Amatic SC', cursive;
    letter-spacing: 3px;
}

#thirdImage {
    height: 306px;
}

/* Everything below this comment is on the waysB file.*/
.zipCode {
    padding-left: 30%;
}

