body {
  border-top: 0ch;
  box-sizing: border-box;
  font-size: 30px;
  background-color: #007bff;
}

.container {
  padding-left: 50px;
  margin-top: 0ch;
  width: 850px;
}

.jumbotron {
  background-color: transparent;
  margin-top:0%;
  padding-top: 0%;
  padding-bottom: 0%;
  border-radius: 0;
  border-bottom: 2px solid rgb(105, 139, 12);
}
.bg-primary h3 {
  border-radius: 3px;
  border-color: red;
}
/*.btn {
  align-content: center;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #4828a1;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 50px;
  margin-top: 15px;
}*/

.buttonDiv {
  width: 50%;
  margin: auto;
  width: 50px;
}

#start {
  display: block;
  margin: 0px, 50px, 0px, 50px;
  width: 20%;
}
  